@use  "_colors.scss";
@import "digits.scss";

body{
    margin:0;
    padding:0;
    background-color:colors.$background;
    min-height: 100vh;
    padding-top:1px;
    overflow: hidden;
    font-size: 16px;


    // centered div for clock placement
    .container{
        display:flex;
        // flex-wrap: wrap;
        // border: 4px solid cyan; 
      
        max-inline-size: 620px;
        box-sizing: border-box;
        margin-inline:auto;
        margin-block:10%;
        
       

        // column divider between hr and min
        .column{
            display:flex;
            flex-direction:column;
            justify-content: space-around;
            block-size: inherit;
        
            align-items: center;
        
           
            .dot{
           
                block-size:10px;
                inline-size:10px;
                background-color: colors.$digit_on;
                box-shadow:  5px 5px 10px  colors.$shadow;  
            }
        }
        .sec{
            display:flex;
            flex-direction:row;
            block-size: 75px;
            inline-size:inherit;
           

            .num-small{
                box-shadow:  10px 10px 20px  colors.$shadow;  
                inline-size:45px;
                margin-inline:5px;
            }
            
        }
        .ampm{
            
            color:colors.$digit_on;
            font-family: 'Tektur', cursive;
            margin-inline-end: 10px;
            font-size:72px;
            text-shadow: 10px 10px 10px  colors.$shadow;
           
            div{
              max-block-size:77px;
            }
            
           
         
        }
    }
    .small{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        inline-size:130px;
        block-size: 154px;
        align-items:flex-end;
    }


    
    
}
 
@media (max-width: 620px){
    .container{
        flex-direction: column;
    }
    div + .small{
        display:flex;
        flex-direction:row;
        margin-block-start:20px;
        inline-size:230px;
        max-block-size: 80px;
        
        
        
    }
    .container{
        block-size: 100vh;
        max-inline-size: 230px;
        flex-direction: column;
        align-items:center;
       
        div + .column{
            display:none;}
    }

    #min, #hour {
        
        margin-block-start:20px;
    }

    #ampm{
        font-size: 62px;

        div{
            max-block-size:62px;
        }
    }
    
    }
