@use 'colors.scss';

/* container for top and bottom parts */
 .num{
    background-color:colors.$background;
    block-size: 150px;
    inline-size: 93px;
    box-shadow:  10px 10px 20px  colors.$shadow  ;  
    display: inline-block;
    box-sizing:border-box;
    margin-inline: 10px;
    
}


/* zero */
.num-small .zero-top, .num .zero-top {
    border-block-end: 5px solid colors.$digit_off;
}
.num-small .zero-bottom, 
.num .zero-bottom{
    border-block-start: 5px solid colors.$digit_off;
}

/* one */
.num-small .one-top, .num .one-top{
    border-block-start: 10px solid colors.$digit_off;
    border-block-end: 5px solid colors.$digit_off;
    border-inline-start: 10px solid colors.$digit_off;
   }
.num-small .one-bottom, .num .one-bottom{
    border-block-start: 5px solid colors.$digit_off;
    border-block-end: 10px solid colors.$digit_off;
    border-inline-start: 10px solid colors.$digit_off;
    }


/* two */
.num-small .two-top, .num .two-top{
    border-inline-start: 10px solid colors.$digit_off;
}
.num-small .two-bottom, .num .two-bottom{
   border-inline-end:10px solid colors.$digit_off;
   
}


/* three */
.num-small .three-top, .num .three-top{
    border-inline-start: 10px solid colors.$digit_off;
}
.num-small .three-bottom, .num .three-bottom{
    border-inline-start: 10px solid colors.$digit_off;
}


 /* four */
 .num-small .four-top,  .num .four-top{
    border-block-start: 10px solid colors.$digit_off;
}
.num-small .four-bottom, .num .four-bottom{
    border-block-end: 10px solid colors.$digit_off;
    border-inline-start: 10px solid  colors.$digit_off;;
}


 /* five */
 .num-small .five-top, .num .five-top{
    border-inline-end:10px solid colors.$digit_off;
}
.num-small .five-bottom, .num .five-bottom{
    border-inline-start: 10px solid colors.$digit_off;
}


/* six*/
.num-small .six-top, .num .six-top{
border-inline-end:10px solid colors.$digit_off;
    }
  


/* seven*/
.num-small .seven-top, .num .seven-top{
 border-block-end: 5px solid colors.$digit_off;
 border-inline-start: 10px solid colors.$digit_off;
 }
 .num-small .seven-bottom, .num .seven-bottom{
 border-block-start: 5px solid colors.$digit_off;
 border-block-end: 10px solid colors.$digit_off;
 border-inline-start: 10px solid colors.$digit_off;
        }

/* eight sice all the digits made out of elements of 8 i can use it as a class for all of them and just modify it with id's
. So I'll call it proto digit*/

/* top part of a digit */
.eight-top{
 border: 10px solid colors.$digit_on;
 border-block-end: 5px solid colors.$digit_on;
 inline-size:inherit;
 block-size: 57px;
 box-sizing:border-box;
 margin: 0;
 box-shadow:  inset 10px 10px 20px  colors.$shadow  ;  
        }


/* bottom part of a digit */
.eight-bottom{
border: 10px solid colors.$digit_on;
border-block-start: 5px solid colors.$digit_on;
inline-size:inherit;
block-size: 93px;
box-sizing:border-box;
margin: 0;
box-shadow:  inset 10px 10px 20px  colors.$shadow  ;  
}

/* size ajustments for seconds top and bottom */

.eight-top-sec{
    border: 8px solid colors.$digit_on;
    border-block-end: 5px solid colors.$digit_on;
    inline-size:45px;
    block-size: 28px;
    box-sizing:border-box;
    margin: 0;
    margin-inline:10px;
    box-shadow:  inset 10px 10px 20px  colors.$shadow  ;  
           }
   
   
   /* bottom part of a  digit of seconds */
   .eight-bottom-sec{
   border: 8px solid colors.$digit_on;
   border-block-start: 5px solid colors.$digit_on;
   inline-size:45px;
   block-size: 46px;
   box-sizing:border-box;
   margin: 0;
   margin-inline:10px;
   box-shadow:  inset 10px 10px 20px  colors.$shadow  ;  
   }


/* nine*/
   
    
.num-small .nine-bottom, .num .nine-bottom{
        
        border-block-end: 10px solid colors.$digit_off;
        border-inline-start: 10px solid colors.$digit_off;;
        
    }
