/* container for top and bottom parts */
.num {
  background-color: rgb(18, 42, 54);
  block-size: 150px;
  inline-size: 93px;
  box-shadow: 10px 10px 20px rgba(19, 0, 19, 0.5);
  display: inline-block;
  box-sizing: border-box;
  margin-inline: 10px;
}

/* zero */
.num-small .zero-top {
  border-block-end: 5px solid rgb(14, 51, 70);
}

.num-small .zero-bottom {
  border-block-start: 5px solid rgb(14, 51, 70);
}

/* one */
.num-small .one-top {
  border-block-start: 10px solid rgb(14, 51, 70);
  border-block-end: 5px solid rgb(14, 51, 70);
  border-inline-start: 10px solid rgb(14, 51, 70);
}

.num-small .one-bottom {
  border-block-start: 5px solid rgb(14, 51, 70);
  border-block-end: 10px solid rgb(14, 51, 70);
  border-inline-start: 10px solid rgb(14, 51, 70);
}

/* two */
.num-small .two-top {
  border-inline-start: 10px solid rgb(14, 51, 70);
}

.num-small .two-bottom {
  border-inline-end: 10px solid rgb(14, 51, 70);
}

/* three */
.num-small .three-top {
  border-inline-start: 10px solid rgb(14, 51, 70);
}

.num-small .three-bottom {
  border-inline-start: 10px solid rgb(14, 51, 70);
}

/* four */
.num-small .four-top {
  border-block-start: 10px solid rgb(14, 51, 70);
}

.num-small .four-bottom {
  border-block-end: 10px solid rgb(14, 51, 70);
  border-inline-start: 10px solid rgb(14, 51, 70);
}

/* five */
.num-small .five-top {
  border-inline-end: 10px solid rgb(14, 51, 70);
}

.num-small .five-bottom {
  border-inline-start: 10px solid rgb(14, 51, 70);
}

/* six*/
.num-small .six-top {
  border-inline-end: 10px solid rgb(14, 51, 70);
}

/* seven*/
.num-small .seven-top {
  border-block-end: 5px solid rgb(14, 51, 70);
  border-inline-start: 10px solid rgb(14, 51, 70);
}

.num-small .seven-bottom {
  border-block-start: 5px solid rgb(14, 51, 70);
  border-block-end: 10px solid rgb(14, 51, 70);
  border-inline-start: 10px solid rgb(14, 51, 70);
}

/* eight sice all the digits made out of elements of 8 i can use it as a class for all of them and just modify it with id's
. So I'll call it proto digit*/
/* top part of a digit */
.eight-top {
  border: 10px solid rgb(18, 205, 177);
  border-block-end: 5px solid rgb(18, 205, 177);
  inline-size: inherit;
  block-size: 57px;
  box-sizing: border-box;
  margin: 0;
  box-shadow: inset 10px 10px 20px rgba(19, 0, 19, 0.5);
}

/* bottom part of a digit */
.eight-bottom {
  border: 10px solid rgb(18, 205, 177);
  border-block-start: 5px solid rgb(18, 205, 177);
  inline-size: inherit;
  block-size: 93px;
  box-sizing: border-box;
  margin: 0;
  box-shadow: inset 10px 10px 20px rgba(19, 0, 19, 0.5);
}

/* size ajustments for seconds top and bottom */
.eight-top-sec {
  border: 8px solid rgb(18, 205, 177);
  border-block-end: 5px solid rgb(18, 205, 177);
  inline-size: 45px;
  block-size: 28px;
  box-sizing: border-box;
  margin: 0;
  margin-inline: 10px;
  box-shadow: inset 10px 10px 20px rgba(19, 0, 19, 0.5);
}

/* bottom part of a  digit of seconds */
.eight-bottom-sec {
  border: 8px solid rgb(18, 205, 177);
  border-block-start: 5px solid rgb(18, 205, 177);
  inline-size: 45px;
  block-size: 46px;
  box-sizing: border-box;
  margin: 0;
  margin-inline: 10px;
  box-shadow: inset 10px 10px 20px rgba(19, 0, 19, 0.5);
}

/* nine*/
.num-small .nine-bottom {
  border-block-end: 10px solid rgb(14, 51, 70);
  border-inline-start: 10px solid rgb(14, 51, 70);
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(18, 42, 54);
  min-height: 100vh;
  padding-top: 1px;
  overflow: hidden;
  font-size: 16px;
}
body .container {
  display: flex;
  flex-wrap: wrap;
  max-inline-size: 620px;
  box-sizing: border-box;
  margin-inline: auto;
  margin-block: 10%;
}
body .container .column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  block-size: inherit;
  align-items: center;
}
body .container .column .dot {
  block-size: 10px;
  inline-size: 10px;
  background-color: rgb(18, 205, 177);
  box-shadow: 5px 5px 10px rgba(19, 0, 19, 0.5);
}
body .container .sec {
  display: flex;
  flex-direction: row;
  block-size: 75px;
  inline-size: inherit;
}
body .container .sec .num-small {
  box-shadow: 10px 10px 20px rgba(19, 0, 19, 0.5);
  inline-size: 45px;
  margin-inline: 5px;
}
body .container .ampm {
  color: rgb(18, 205, 177);
  font-family: "Tektur", cursive;
  margin-inline-end: 10px;
  font-size: 72px;
  text-shadow: 10px 10px 10px rgba(19, 0, 19, 0.5);
}
body .container .ampm div {
  max-block-size: 77px;
}
body .small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  inline-size: 130px;
  block-size: 154px;
  align-items: flex-end;
}

@media (max-width: 620px) {
  div + .small {
    display: flex;
    flex-direction: row;
    margin-block-start: 20px;
    inline-size: 230px;
    max-block-size: 80px;
  }
  .container {
    block-size: 100vh;
    max-inline-size: 230px;
    flex-direction: column;
    align-items: center;
  }
  .container div + .column {
    display: none;
  }
  #min, #hour {
    margin-block-start: 20px;
  }
  #ampm {
    font-size: 62px;
  }
  #ampm div {
    max-block-size: 62px;
  }
}

/*# sourceMappingURL=clock.css.map */
